/* INICIO DAS CONFIGURAÇÕES GERAIS DA APLICAÇÃO */
*{ 
  margin: 0;
  padding: 0;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
  }

/* FINAL DAS CONFIGURAÇÕES GERAIS DA APLICAÇÃO */

/* ESTILO DA NAVBAR COMEÇO */
.navbarme {
  /* overflow: hidden; */
  background-color: #262626;
  font-family: 'Oswald', sans-serif;
  min-height: 65px;
  height: 65px;
}

.navbarme a {
  font-size: 20px;
  color: gray;
  text-align: center;
  padding: 16px 10px;

  text-decoration: none;
}

.dropdownme {
  overflow: hidden;
}

.dropdownme .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: gray;
  padding: 16px 10px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-contentme {
  display: none;
  position: absolute;
  background-color: #262626;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contentme a {
  float: none;
  color: gray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbarme a:hover, .dropdown:hover .dropbtn {
  color: white;
}

.navbarme .img{
  padding: 10px;
  
}

#logo-main{
  width: 50px;
  margin-left: 16px;
  position: relative;
  z-index: 1;
}

#logo-hover{
position: absolute;
left: 26px;
z-index: 3;
width: 50px;
opacity: 0;
object-fit: contain;
}

#logo-hover:hover{
width: 50px;
opacity: 1;
}

.dropdown-contentme a:hover {
  color: white;
}

.dropdownme:hover .dropdown-contentme {
  display: block;
}
/* ESTILO DA NAVBAR FIM */

/* ESTILO DA PAGINA DE LOGIN COMEÇO */

.loginpage{
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}



.loginpage .loginform ul{
    list-style-type: none;
}


.loginpage .loginform{
    top:25px; 
    margin: auto;
    justify-content: center;
    background-color: #262626;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 400px;
    height: 350px;
    padding: 30px;
    text-align: center; 
    position: relative;
    z-index: 3;
    box-shadow: 0px 0px 9px 0px #000000
}

.loginpage a{
  text-decoration: none;
}

.loginpage .entrybox{
  background-color: #1a1a1a;
  color:white;
  border-radius: 8px;
  padding: 10px;
  border:0;
  margin-top: 15px;

  width: 25em;  height: 2em;
}

.loginpage .loginform #password{
  margin-bottom: 15px;
}

.loginpage  #loginico{
  width: 80px;
  padding-bottom: 10px;
}

.loginpage .loginform .headertext{
  font-weight: bold;
  font-size: 25px;
  color:gray;
}

.loginpage  .submitbuttons{
  margin-top: 15px;
  border:0;
  background-color: #1a1a1a;
  font-size: 20px;
  border-radius: 8px;
  width: 10em;  height: 2em;
  color: white;
  cursor: pointer;

}

.loginpage .esqueceubox{
  top: 25px;
  position: relative;
  text-align: center;
  padding: 6px;
  margin: auto;
  width: 448px;
  height: 30px;
  background-color: #262626;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 9px 0px #000000;

}

.loginpage .esqueceubox  .textesqueceu{
  color: gray;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;

}

.loginpage .loginform .checkbox{
  float: left;
  margin-left: 25px;
  color:gray;
  font-size: 15px;

}

.loginpage .loginform .errlog{
  padding: 5px;
  color: red;
}


/* ESTILO DA PAGINA DE LOGIN FIM */

/* ESTILO DA PAGINA DE REGISTRO COMEÇO*/


.registerpage{
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}

.registerpage .registerform{
  text-align: center;
  top:25px; 
  margin: auto;
  justify-content: center;
  background-color: #262626;
  border-radius: 10px;
  width: 400px;
  height: 450px;
  padding: 30px; 
  position: relative;
  box-shadow: 0px 0px 9px 0px #000000
}

.registerpage .registerform ul{
  list-style-type: none;
}

.registerpage .entrybox{
  background-color: #1a1a1a;
  color:white;
  border-radius: 8px;
  padding: 10px;
  border:0;
  margin-top: 15px;

  width: 13em;  height: 2em;
}

.registerpage  .submitbuttons{
  margin-top: 15px;
  border:0;
  background-color: #1a1a1a;
  font-size: 20px;
  border-radius: 8px;
  width: 10em;  height: 2em;
  color: white;
  cursor: pointer;

}

.registerpage  #loginico{
  width: 80px;
  padding-bottom: 10px;
}

.registerpage .registerform .headertext{
  font-weight: bold;
  font-size: 25px;
  color:gray;
}

.registerpage .alerttext {
  display: inline-block;
  padding: 10px;
  color: white;
  font-size: 12px;
  text-align: left;
}

.registerpage .registerform .errlog{
  padding: 5px;
  color: red;
}


/* ESTILO DA PAGINA DE  REGISTRO FIM*/

/* ESTILO DA PAGINA RECUPERAR SENHA COMEÇO */

.forgotpage{
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}

.forgotpage .recoveryform{
  text-align: center;
  top:25px; 
  margin: auto;
  justify-content: center;
  background-color: #262626;
  border-radius: 10px;
  width: 400px;
  height: 450px;
  padding: 30px; 
  position: relative;
  box-shadow: 0px 0px 9px 0px #000000
}

.forgotpage .recoveryform ul{
  list-style-type: none;
}

.forgotpage  #loginico{
  width: 80px;
  padding-bottom: 10px;
}

.forgotpage .recoveryform .headertext{
  font-weight: bold;
  font-size: 25px;
  color:gray;
  
}

.forgotpage  .submitbuttons{
  margin-top: 15px;
  border:0;
  background-color: #1a1a1a;
  font-size: 20px;
  border-radius: 8px;
  width: 10em;  height: 2em;
  color: white;
  cursor: pointer;

}

.forgotpage .entrybox{
  background-color: #1a1a1a;
  color:white;
  border-radius: 8px;
  padding: 10px;
  border:0;
  margin-top: 15px;
  width: 25em;  height: 2em;
}

.forgotpage .formtext {
  top: 10px;
  position: relative;
  padding: 15px;
  color: white;
  font-size: 15px;
  text-align: left;
}

.forgotpage #sendbutton{
  position: relative;
  top: 175px;
}


/* ESTILO DA PAGINA RECUPERAR SENHA FIM */

/* ESTILO DA PAGINA RESETAR SENHA COMEÇO */

.resetpasspage {  
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}

.resetpasspage .resetpassform{
  text-align: center;
  top:25px; 
  margin: auto;
  justify-content: center;
  background-color: #262626;
  border-radius: 10px;
  width: 400px;
  height: 450px;
  padding: 30px; 
  position: relative;
  box-shadow: 0px 0px 9px 0px #000000
}

.resetpasspage .resetpassform ul{
  list-style: none;
}

.resetpasspage  .submitbuttons{
  margin-top: 15px;
  border:0;
  background-color: #1a1a1a;
  font-size: 20px;
  border-radius: 8px;
  width: 10em;  height: 2em;
  color: white;
  cursor: pointer;
}

.resetpasspage .entrybox{
  background-color: #1a1a1a;
  color:white;
  border-radius: 8px;
  padding: 10px;
  border:0;
  margin-top: 15px;
  width: 25em;  height: 2em;
}

.resetpasspage  #loginico{
  width: 80px;
  padding-bottom: 10px;
}

.resetpasspage .resetpassform .headertext{
  font-weight: bold;
  font-size: 25px;
  color:gray;
  
}

.resetpasspage .resetpassform .errcode{
  padding: 5px;
  color: red;
  text-align: center;
}
  
/* ESTILO DA PAGINA RESETAR SENHA FIM */

/* ESTILO DA PAGINA REDIRECT SENHA COMEÇO*/

.redirect{ 
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}

.redirect .logo{
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.redirect p{
  padding-top: 25px;
  color: white;
  text-align: center;
  font-size: 25px;
}


/* ESTILO DA PAGINA REDIRECT SENHA FIM  */

/* ESTILO DA PAGINA PERFIL COMEÇO */

.profilepage{
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}

.profilepage .showprofile {
  font-family: 'Roboto', sans-serif;
  box-shadow: -1px 0px 38px 12px rgba(0,0,0,0.75);
  position:absolute;
  top:65px;
  bottom:0;
  left:0;
  right:0; 
  margin: auto;
  width: 70%;
  background: linear-gradient(90deg, #6e627546 0%, #515ada3b 100%);
}

.profilepage .showprofile .avatar{
  width: 184px;
  height: 184px;
  object-fit: cover;
  border: 2px solid rgba(174, 0, 255, 0.644);;
  position: absolute;
  left:50px;
  top: 50px;
}

.profilepage .showprofile .name {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 50px;
  left: 270px;
  font-size: 50px;
  color: white;
}

.profilepage .showprofile .descricao {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 130px;
  left: 270px;
  font-size: 15px;
  color: white;
}

.profilepage .showprofile .editarperfil{
  position: absolute;
  color: white;
  font-size: 15px;
  top: 50px;
  right: 50px;
  background-color: rgba(128, 2, 245, 0.1);
  border: none;
  min-width: 200px;
  padding: 15px 32px;
  border-radius: 10px;
}

.profilepage .showprofile .editarperfil:hover{
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
  background-color: rgba(128, 2, 245, .3);
}

.profilepage .showprofile .addgame{
  position: absolute;
  color: white;
  font-size: 15px;
  top: 120px;
  right: 50px;
  min-width: 200px;
  background-color: rgba(128, 2, 245, 0.1);
  border: none;
  padding: 15px 32px;
  border-radius: 10px;
}

.profilepage .showprofile .addgame:hover{
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
  background-color: rgba(128, 2, 245, .3);
}



/* ESTILO DA PAGINA PERFIL FIM */

/* ESTILO PAGINA EDITAR PERFIL COMEÇO */

.editprofilepage{
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}

.editprofilepage .editprofile{
  box-shadow: -1px 0px 38px 12px rgba(0,0,0,0.75);
  position:absolute;
  top:65px;
  bottom:0;
  left:0;
  right:0; 
  margin: auto;
  width: 70%;
  background: linear-gradient(90deg, #6e627546 0%, #515ada3b 100%);
}

.editprofilepage .editprofile .avatarinput{
  display: none;

}

.editprofilepage .editprofile .custom-file-upload {
  width: 184px;
  height: 184px;
  border: 2px solid rgba(174, 0, 255, 0.644);;
  position: absolute;
  left:50px;
  top: 50px;

}

.editprofilepage .editprofile .avatar{
  object-fit: cover;
  width: 184px;
  height: 184px;
  position: absolute;
  z-index: 1;
  opacity: 0.6;
}

.editprofilepage .editprofile .lupe{
  width: 100px;
  height: 100px;
  left: 46px;
  top: 46px;
  position: absolute;
  display: none;
  z-index: 2;
}

.editprofilepage .editprofile .custom-file-upload:hover .lupe {
display: block;
}

.editprofilepage .editprofile .usernameinput {
  font-family: 'Roboto', sans-serif;
  color: white;
  position: absolute;
  top: 50px;
  left: 270px;
  background-color: transparent;
  border: none;
  font-size: 50px;
  resize: none;
  width: 300px;
  height: 70px;
}

.editprofilepage .editprofile .usernameinput:focus,
.editprofilepage .editprofile .descriptioninput:focus { 
  font-family: 'Roboto', sans-serif;
  color: white;
}

.editprofilepage .editprofile .descriptioninput {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  color: white;
  top: 130px;
  left: 270px;
  font-size: 15px;
  background-color: transparent;
  border: none;
  resize: none;
  width: 300px;
}

.editprofilepage .editprofile .cancelbtn{
  position: absolute;
  color: white;
  font-size: 15px;
  top: 120px;
  right: 50px;
  background-color: rgba(128, 2, 245, 0.1);
  border: none;
  padding: 15px 32px;
  min-width: 200px;
  border-radius: 10px;

}

.editprofilepage .editprofile .cancelbtn:hover{
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
  background-color: rgba(128, 2, 245, .3);
}

.editprofilepage .editprofile .sendbtn{
  position: absolute;
  color: white;
  font-size: 15px;
  top: 50px;
  right: 50px;
  min-width: 200px;
  background-color: rgba(128, 2, 245, 0.1);
  border: none;
  padding: 15px 32px;
  border-radius: 10px;

}

.editprofilepage .editprofile .sendbtn:hover{
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
  background-color: rgba(128, 2, 245, .3);
}

/* ESTILO PAGINA EDITAR PERFIL FIM */

/* ESTILO PAGINA JOGO  COMEÇO */

.gamepage{
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}

.gamepage .showgame{
  font-family: 'Roboto', sans-serif;
  position:absolute;
  top:65px;
  bottom:0;
  left:0;
  right:0; 
  margin: auto;
  width: 70%;
}

.gamepage .showgame .carousel 
{ width:400px; height:400px; }

.gamepage .showgame p{
  color: white ;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

.gamepage .showgame .gameicon{
  width: 200;
  position: absolute;
  top: 0px;
  left: 400px;
}

.gamepage .showgame .desc{
  font-size: 20px;
  position: absolute;
  top: 0px;
  left: 600px;
  width: 400px;
  text-align: justify;
}

.gamepage .showgame .preco{
  font-size: 20px;
  position: absolute;
  top: 250px;
  left: 600px;
  width: 400px;
  text-align: justify;
}

.gamepage .showgame .buybtn{
  position: absolute;
  top: 300px;
  left: 600px;
  width: 300px;
  background-color: lime;
  border-radius: 5px;
  font-size: 30px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

/* ESTILO PAGINA JOGO FIM */

/* ESTILO PAGINA GENERO COMEÇO */

.genderpage .genderdiv{
  font-family: 'Roboto', sans-serif;
  position:absolute;
  top:65px;
  bottom:0;
  left:0;
  right:0; 
  margin: auto;
  width: 80%;
}

.genderpage{
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}

.genderpage .innera .innerimg{
  border-left: 40px;
  width: 100;
  border: solid cyan 1px;
}

.genderpage p{
  color: white;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 30px;
  text-align: center;
}

.genderpage .innera{
  font-size: 30px;
  text-decoration: none;
  border-left: 40px;
  color: white;
  vertical-align: center;
}

/* ESTILO PAGINA GENERO FIM */

/* ESTILO PAGINA GENERO COMEÇO */

.bibliopage{
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}

.bibliopage .item{
  text-decoration: none;
}

.bibliopage .gamelogo{
  width: 200px;
  padding: 50px;
}

.bibliopage .gamename{
  color: white;
  border-left: 25px;
  font-size: 40px;
  font-weight: bolder;
  position: relative;
  top: 30px;
  left: 50px;
}

.bibliopage .playbtn{
font-size: 20px;
border: none;
outline: none;
color: white;
padding: 16px 10px;
background-color: lime;
margin-left: 50px;
box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
border-radius: 5px;

}


/* ESTILO PAGINA GENERO FIM */


.mainpage {
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}
