/* INICIO DAS CONFIGURAÇÕES GERAIS DA APLICAÇÃO */
*{ 
  margin: 0;
  padding: 0;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
  }

/* FINAL DAS CONFIGURAÇÕES GERAIS DA APLICAÇÃO */


/* ESTILO DA NAVBAR COMEÇO */
.navbar {
  width: 100%; 
  height: 73px;
  max-height: 73px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}

.navbar ul {
  display: block;
  list-style-type: none;
  overflow: hidden;
  background-color: #262626;
  position: sticky;
}

.navbar li {
  padding: 10px;
  float: left;
}

.navbar li a {
  font-size: 20px;
  display: block;
  color: gray;
  text-align: center;
  padding: 5px 2px;
  text-decoration: none;
}

.navbar li a:hover {
  color: white;
}

#logo-main{
    width: 50px;
    position: relative;
    z-index: 1;
}

#logo-hover{
  position: absolute;
  left: 27px;
  z-index: 3;
  width: 50px;
  opacity: 0;
  object-fit: contain;
}

#logo-hover:hover{
  width: 50px;
  opacity: 1;
}

.usermenu {
  text-align: right;
  box-shadow: 0px 0px 16px 5px black;
  display: none;
  overflow: hidden;
  word-break: break-all;
  position: absolute;
  right: 0;
  top: 73px;
}

.username{
  text-align: right;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  top: 0px;
  right: 0px;
}

.username ul{
  list-style-type: none;
}

.username li a {
  font-size: 20px;
  display: block;
  color: gray;
  text-align: center;
  padding: 20px 13px;
  text-decoration: none;
}

.username li a:hover {
  color: white;
}


.usermenu ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 200px;
  background-color: #262626;
}

.usermenu li {
  text-align: right;
  padding: 10px;
}

.usermenu li a {
  font-size: 20px;
  color: gray;
  text-align: center;
  padding: 5px 2px;
  text-decoration: none;
}

.usermenu li a:hover{
  color: white;
}

.username:hover .usermenu{
  display: block;
}

/* ESTILO DA NAVBAR FIM */

/* ESTILO DA PAGINA DE LOGIN COMEÇO */

.loginpage{
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}



.loginpage .loginform ul{
    list-style-type: none;
}


.loginpage .loginform{
    top:25px; 
    margin: auto;
    justify-content: center;
    background-color: #262626;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 400px;
    height: 350px;
    padding: 30px;
    text-align: center; 
    position: relative;
    box-shadow: 0px 0px 9px 0px #000000
}

.loginpage a{
  text-decoration: none;
}

.loginpage .entrybox{
  background-color: #1a1a1a;
  color:white;
  border-radius: 8px;
  padding: 10px;
  border:0;
  margin-top: 15px;

  width: 25em;  height: 2em;
}

.loginpage .loginform #password{
  margin-bottom: 15px;
}

.loginpage  #loginico{
  width: 80px;
  padding-bottom: 10px;
}

.loginpage .loginform .headertext{
  font-weight: bold;
  font-size: 25px;
  color:gray;
}

.loginpage  .submitbuttons{
  margin-top: 15px;
  border:0;
  background-color: #1a1a1a;
  font-size: 20px;
  border-radius: 8px;
  width: 10em;  height: 2em;
  color: white;
  cursor: pointer;

}

.loginpage .esqueceubox{
  top: 25px;
  position: relative;
  text-align: center;
  padding: 6px;
  margin: auto;
  width: 448px;
  height: 30px;
  background-color: #262626;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 9px 0px #000000;

}

.loginpage .esqueceubox  .textesqueceu{
  color: gray;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;

}

.loginpage .loginform .checkbox{
  float: left;
  margin-left: 25px;
  color:gray;
  font-size: 15px;

}

.loginpage .loginform .errlog{
  padding: 5px;
  color: red;
}


/* ESTILO DA PAGINA DE LOGIN FIM */

/* ESTILO DA PAGINA DE REGISTRO COMEÇO*/


.registerpage{
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}

.registerpage .registerform{
  text-align: center;
  top:25px; 
  margin: auto;
  justify-content: center;
  background-color: #262626;
  border-radius: 10px;
  width: 400px;
  height: 450px;
  padding: 30px; 
  position: relative;
  box-shadow: 0px 0px 9px 0px #000000
}

.registerpage .registerform ul{
  list-style-type: none;
}

.registerpage .entrybox{
  background-color: #1a1a1a;
  color:white;
  border-radius: 8px;
  padding: 10px;
  border:0;
  margin-top: 15px;

  width: 13em;  height: 2em;
}

.registerpage  .submitbuttons{
  margin-top: 15px;
  border:0;
  background-color: #1a1a1a;
  font-size: 20px;
  border-radius: 8px;
  width: 10em;  height: 2em;
  color: white;
  cursor: pointer;

}

.registerpage  #loginico{
  width: 80px;
  padding-bottom: 10px;
}

.registerpage .registerform .headertext{
  font-weight: bold;
  font-size: 25px;
  color:gray;
}

.registerpage .alerttext {
  display: inline-block;
  padding: 10px;
  color: white;
  font-size: 12px;
  text-align: left;
}

.registerpage .registerform .errlog{
  padding: 5px;
  color: red;
}


/* ESTILO DA PAGINA DE  REGISTRO FIM*/

/* ESTILO DA PAGINA RECUPERAR SENHA COMEÇO */

.forgotpage{
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}

.forgotpage .recoveryform{
  text-align: center;
  top:25px; 
  margin: auto;
  justify-content: center;
  background-color: #262626;
  border-radius: 10px;
  width: 400px;
  height: 450px;
  padding: 30px; 
  position: relative;
  box-shadow: 0px 0px 9px 0px #000000
}

.forgotpage .recoveryform ul{
  list-style-type: none;
}

.forgotpage  #loginico{
  width: 80px;
  padding-bottom: 10px;
}

.forgotpage .recoveryform .headertext{
  font-weight: bold;
  font-size: 25px;
  color:gray;
  
}

.forgotpage  .submitbuttons{
  margin-top: 15px;
  border:0;
  background-color: #1a1a1a;
  font-size: 20px;
  border-radius: 8px;
  width: 10em;  height: 2em;
  color: white;
  cursor: pointer;

}

.forgotpage .entrybox{
  background-color: #1a1a1a;
  color:white;
  border-radius: 8px;
  padding: 10px;
  border:0;
  margin-top: 15px;
  width: 25em;  height: 2em;
}

.forgotpage .formtext {
  top: 10px;
  position: relative;
  padding: 15px;
  color: white;
  font-size: 15px;
  text-align: left;
}

.forgotpage #sendbutton{
  position: relative;
  top: 175px;
}


/* ESTILO DA PAGINA RECUPERAR SENHA FIM */

/* ESTILO DA PAGINA RESETAR SENHA COMEÇO */

.resetpasspage {  
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}

.resetpasspage .resetpassform{
  text-align: center;
  top:25px; 
  margin: auto;
  justify-content: center;
  background-color: #262626;
  border-radius: 10px;
  width: 400px;
  height: 450px;
  padding: 30px; 
  position: relative;
  box-shadow: 0px 0px 9px 0px #000000
}

.resetpasspage .resetpassform ul{
  list-style: none;
}

.resetpasspage  .submitbuttons{
  margin-top: 15px;
  border:0;
  background-color: #1a1a1a;
  font-size: 20px;
  border-radius: 8px;
  width: 10em;  height: 2em;
  color: white;
  cursor: pointer;

}

.resetpasspage .entrybox{
  background-color: #1a1a1a;
  color:white;
  border-radius: 8px;
  padding: 10px;
  border:0;
  margin-top: 15px;
  width: 25em;  height: 2em;
}

.resetpasspage  #loginico{
  width: 80px;
  padding-bottom: 10px;
}

.resetpasspage .resetpassform .headertext{
  font-weight: bold;
  font-size: 25px;
  color:gray;
  
}

.resetpasspage .resetpassform .errcode{
  padding: 5px;
  color: red;
  text-align: center;
}
  
/* ESTILO DA PAGINA RESETAR SENHA FIM */